/*@import url('https://fonts.googleapis.com/css?family=Arimo|Dancing+Script|Pacifico|Indie+Flower|Source+Sans+Pro|Varela+Round|Rubik');*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Pacifico|Varela+Round');

body {
    font-family: Arimo, Tahoma;
    min-width: 485px;
    min-height: 500px;
}

#container {
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 150px auto 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.hide {
    visibility: hidden;
}

.shrink {
    width: 0;
    height: 0;
}

h1 {
    font-family: Arimo, Verdana, Geneva, "Trebuchet MS", Helvetica, sans-serif;
}

input {
    width: 70%;
    height: 50px;
    padding: 0 15px;
    font-size: 20px;
    color: #0b558a;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: 0;
    font-family: 'Pacifico', 'Varela Round';
}

.new-item {
    position: relative;
}

.tooltip.hide {
    height: 0;
    padding: 0;
}

.tooltip:hover,
.tooltip:focus {
    background: #2871a7;
}

.tooltip {
    width: 70%;
    height: auto;
    background: #203966;
    color: white;
    border-radius: 0 0 25px 25px;
    padding: 8px;
    margin: 0 auto;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

ol {
    width: 72.5%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 5px 0;
    transition: all 0.1s ease-out;
}

li:hover,
li:focus {
    background-color: rgba(11,85,138, 0.2);
}

li input[type='checkbox'],
li label {
    float: left;
    height: 20px;
    margin: 0;
    cursor: pointer;
    /*font-family: 'Source Sans Pro', Arimo;*/
}

li > div {
    width: 5%;
}

li label {
    width: 95%;
    height: 25px;
    text-align: left;
    color: #0b558a;
}

li label span {
    vertical-align: -webkit-baseline-middle;
}

li:hover .remove-item,
li:focus .remove-item {
    visibility: visible;
}

.remove-item {
    position: absolute;
    visibility: hidden;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 5px;
    filter: saturate(0.8) sepia(1) invert(0.5);
    transition: all 0.2s ease-out;
}

.remove-item:hover
.remove-item:focus {
    filter: none;
}

.done {
    opacity: 0.5;
}

.done label {
    text-decoration: line-through;
    color: dimgray;
}

.done .remove-item {
    visibility: visible;
}

footer div {
    margin-top: 20px;
}

footer img {
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.footer.shrink {
    transition: all 0.5s linear;
}

.footer.shrink:hover,
.footer.shrink:focus {
    transition: all 0.2s ease-out;
}

footer img:hover,
footer img:focus {
    opacity: 1;
}

#legend {
    font-size: 13px;
}

.a11y-focus:focus {
    box-shadow: 0 0 36px #84bacb;
    outline: 1px solid lightblue;
}